

div {
    font-size: 14px;
}




/* form {
    height: 250px;
}

.text_label {
    float: left;
    width: 100px;
    text-align: right;
    padding: 0px 10px 0px 0px;
}

.text_input {
    width: 150px;
    height: 20px;
    text-align: left;
    padding: 0px 0px 0px 10px;
}

div {
    width: 274px;
    padding: 10px 0px 10px 0px;
}

#submit {
    border-radius: 4px;
    background-color: #f4511e;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    float: right;
}

#request {
    border-radius: 4px;
    background-color: #f4511e;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    float: right;
    margin: 5px 0px 0px 0px;
} */